form {
  margin-top: 10%;
}

input {
  border-color: black;
  margin-bottom: 15%;
  width: 80%;
}

textarea {
  border-color: black;
  width: 80%;
  margin-bottom: 10%;
}

button {
  border-color: black;
  margin-bottom: 10%;
}
