<app-header></app-header>

<form>
<p>
Über das nachfolgende Formular können Sie eine Idee einreichen:
</p>

<input placeholder="Ihre Idee" (keyup)="postHeader($event)"/>
<br>
<textarea placeholder="Beschreiben Sie Ihre Idee" rows="6" (keyup)="postDescription($event)"></textarea>


<button (click) ="sendPost()">Idee veröffentlichen</button>

<p>Bitte beachten Sie, dass Ihre Idee zunächst von einem Administratoren <br> Team geprüft wird, bevor sie in der App angezeigt wird.</p>
</form>
<app-navbar></app-navbar>
