form {
  margin-top: 30%;
    padding-bottom: 40px;
}

input {
  border-color: black;
  border-width: thin;
  margin-bottom: 10%;
  width: 80%;
  height: 20px;
    margin-left: 10%;
}

textarea {
  border-color: black;
  width: 80%;
  margin-bottom: 10%;
  height: 150px;
  margin-left: 10%;
}

button {
  border-color: black;
  margin-left: 30%;
}

p {
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 150%;
  color: #8F754F;
}
