.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    margin-bottom: 5%;
}

p {
  margin-left: 10px;
  color: #385F71;
}

h2 {
  margin-left: 10px;
  color: #8F754F;
}

button {
  margin-left: 10px;
  color: #8F754F;
  border-color: black;
  margin-right: 5%;
  margin-bottom: 10px;
}
