
nav {
  background-color: #2B4162;
  display: flex;
  scroll-behavior: smooth;
  position: fixed;
  width: 100%;
}


a {
  margin: auto;
  font-size: 200%;
  color: #D7B377;
}

link {
  height: 50px;
  width: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}
