
nav {
  background-color: gold;
  display: flex;
  position: sticky;
  margin: 0;
  padding: 0;

}


a {
  margin: auto;
  font-size: 200%;
}




link {
  height: 50px;
  width: 50px;
  color: blue;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}
