<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br>
  <h3>
    Welcome to InnoApp!
  </h3>
  <br>
  <br>
  <img width="100" alt="Angular Logo" src="../assets/images/Logo_DVAG.jpg">
</div>
<br>
<br>
<p> Bitte melden Sie sich an, um die App zu nutzen: </p>
<form>
    <input placeholder="Ihre Kennung" (keyup)="userID($event)"/>
    <br>
    <input placeholder="Passwort" type="password" (keyup)="userPW($event)"/>
</form>
    <button (click)="printUser()">Anmelden</button>
